* {
	padding: 0;
	margin: 0;
}

body {
	background: url(bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	-ms-touch-action: none;
}

canvas {
	-ms-touch-action: none;
	opacity: .96;
}

#c2canvasdiv {
	-moz-box-shadow: 0px 0px 20px #000000;
	-webkit-box-shadow: 0px 0px 20px #000000;
	box-shadow: 0px 0px 20px #000000;
	
	position: absolute;
	top:0;
}

/* for ucoz delete ads */
table {
	display: none;
}